<!DOCTYPE html>
<html>

<head>
  <title>Port Subclasses</title>
</head>

<body>
  <form action="/upload" method="post" enctype="multipart/form-data">
    Config file:
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="Convert" name="submit">
  </form>
</body>

</html>